body {
		padding-top: 50px;
		font-family: "museo-sans", sans-serif;
		padding-left: 48px;
}
.starter-template {
		padding: 40px 15px;
		text-align: center;
}

.navbar-custom {
		font-family: "Lato";
		background-color: #D3D3D3;
		border: none;
		box-shadow: 1px 1px 5px #888888;
}

.navbar-nav a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.navbar-nav a::before,
.navbar-nav a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.navbar-nav a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.navbar-nav a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.navbar-nav a:hover,
.navbar-nav a:focus {
	color: #fff;
}

.navbar-nav a:hover::before,
.navbar-nav a:focus::before,
.navbar-nav a:hover::after,
.navbar-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.feed {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 0px;
		border-left: 1px solid gray;
		height: 400px;
}

.feed-header{
		left: -15px;
		right: 0;
		position: relative;
		font-family: 'Lato';
		font-weight: bold;
		text-transform: uppercase;
}

.content {
		padding-top: 30px;
}
