{% extends "base.html" %}

{% block title %}Roomy: Charges{% endblock %}

{% block scripts %}

<script type="text/javascript">

function createLink()
{
  var url = "https://venmo.com/?txn=charge&recipients=";
  var userCheckBoxes = document.querySelectorAll("#users input");
  var ids = [];
  for (var i = 0; i < userCheckBoxes.length; i++) {
    if (userCheckBoxes[i].checked) {
      var user = userCheckBoxes[i].nextSibling.nextSibling;
      url += user.getAttribute("data-phone") + ",";
      ids.push(user.getAttribute("data-id"));
    }
  }

  if (ids.length == 0) {
    alert("Nobody paying you? What?");
    return;
  }

  // Strip the trailing comma.
  url = url.substring(0, url.length - 1);

  amount = document.getElementById("amount").value / ids.length;
  url += "&amount=" + amount;

  note = document.getElementById("note").value;
  url += "&note=" + note;

  $.post('/doCharge', {'note': note, 'url': url, 'amount': amount, 'users': JSON.stringify(ids)}, function() {
    window.open(url);
  });

  return false;
}

</script>

{% endblock %}

{% block content %}

<h2>New charge</h2>
<br />


<form class=".form-horizontal">
		<div class="control-group">
				<label class="control-label" for="amount">Amount</label>
		<div class="controls">
				<input type="text" id="amount" placeholder="0.00">
		</div>
		</div>
		<br />
		<div class="control-group">
				<label class="control-label" for="note">for</label>
		<div class="controls">
				<input type="text" id="note" placeholder="Message">
		</div>
		</div>

		<div id="users" class="controls">
				{% for user in users %}
				<div class="checkbox">
						<label>
								<input type="checkbox" >
								<div class='user' data-phone="{{ user.phone }}" data-email="{{ user.email }}" data-id="{{ user.id }}">
						{{ user.name }}
</div></label></div>
{% endfor %}
		<br />
		<div class="control-group">
				<div class="controls">
						<button id="charge-btn" class="btn btn-lg" style="background-color: rgb(114, 218, 114);">
						CHARGE</button>
				</div>
		</div>
</form>

<script>
document.getElementById('charge-btn').addEventListener('click', function (event)
{
  event.preventDefault();
  createLink();
});
</script>
<br />
</div>

{% endblock %}

