{% extends "base.html" %}

{% block title %}Roomy: Charges{% endblock %}

{% block scripts %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">

function createLink()
{
  var url = "https://venmo.com/?txn=charge&recipients=";
  var userCheckBoxes = document.querySelectorAll("#users > input");
  var ids = [];
  for (var i = 0; i < userCheckBoxes.length; i++) {
    if (userCheckBoxes[i].checked) {
      var user = userCheckBoxes[i].nextSibling.nextSibling;
      url += user.getAttribute("data-phone") + ",";
      ids.push(user.getAttribute("data-id"));
    }
  }

  if (ids.length == 0) {
    alert("Nobody paying you?  What?");
    return;
  }

  // Strip the trailing comma.
  url = url.substring(0, url.length - 1);

  amount = document.getElementById("amount").value / ids.length;
  url += "&amount=" + amount;

  note = document.getElementById("note").value;
  url += "&note=" + note;

  $.post('/doCharge', {'note': note, 'amount': amount, 'users': JSON.stringify(ids)}, function() {
    alert('success!');
  });
  alert("Here's your url: " + url);
}

</script>

{% endblock %}

{% block content %}

<form>
  How much to charge? <input id="amount" value="$0.00"> <br>
  For what? <input id="note"> <br>
  <div id="users">
  {% for user in users %}
    <input type="checkbox" checked>
    <div class='user' data-phone="{{ user.phone }}" data-email="{{ user.email }}" data-id="{{ user.id }}">
      {{ user.name }}
    </div>
  {% endfor %}
</div>
<input type="submit" onclick="javascript:createLink();">
</form>

{% endblock %}

