{% extends "base.html" %}

{% block title %}Roomy: Chores{% endblock %}

{% block scripts %}

<script type="text/javascript">

function addChore()
{
  var userCheckBoxes = document.querySelectorAll("#users input");
  var ids = [];
  for (var i = 0; i < userCheckBoxes.length; i++) {
    if (userCheckBoxes[i].checked) {
      var user = userCheckBoxes[i].nextSibling.nextSibling;
      ids.push(user.getAttribute("data-id"));
    }
  }

  if (ids.length == 0) {
    alert("Nobody doing the chore?  What?");
    return;
  }

  var frequency = $('input[name=frequency]:checked').val();
  var day = $('input[name=day]:checked').val();
  var name = document.getElementById('name').value;

  $.post('/addChore', {'name': name, 'day': day, 'frequency': frequency, 'users': JSON.stringify(ids)}, function() {
    alert('success!');
  });
}

</script>

{% endblock %}

{% block content %}

<h2>New Chore</h2>
<br />
<form class=".form-horizontal">
<div class="control-group">
		<label class="control-label" for="name">Name</label>
<div class="controls">
		<input id="name" type="text"></div></div>
		<div id="users" class="controls">
				{% for user in users %}
				<div class="checkbox">
						<label>
				<input type="checkbox">
				<div class='user' data-phone="{{ user.phone }}" data-email="{{ user.email }}" data-id="{{ user.id }}">
						{{ user.name }}
</div></label></div>
				{% endfor %}
		<div class="control-group">
				<div class="controls">
        Frequency: Daily <input checked type="radio" value="daily" name="frequency">
                   Weekly <input type="radio" value="weekly" name="frequency">
                   Monthly <input type="radio" value="monthly" name="frequency">
                   Once <input type="radio" value="once" name="frequency">
				   <br><br />
        Day of the Week: M <input checked type="radio" value="Monday" name="day">
                         T <input type="radio" value="Tuesday" name="day">
                         W <input type="radio" value="Wednesday" name="day">
                         Th <input type="radio" value="Thursday" name="day">
                         F <input type="radio" value="Friday" name="day">
                         S <input type="radio" value="Saturday" name="day">
                         Su <input type="radio" value="Sunday" name="day">
				   <br><br />
		   </div>
   </div>
						<button id="chore-btn" type="submit" class="btn btn-lg"
 		   </div>
   </div>
						<button id="chore-btn" type="submit" class="btn btn-lg"
              style="background-color: rgb(114, 218, 114);"
              onclick="javascript:addChore();" id="chore_submit">
						Add Chore!</button>
				</div>
	
	{% endblock %}

