{% extends "base.html" %}

{% block title %}Roomy: Chores{% endblock %}

{% block scripts %}

<script type="text/javascript">

function addChore()
{
  var userCheckBoxes = document.querySelectorAll("#users input");
  var ids = [];
  for (var i = 0; i < userCheckBoxes.length; i++) {
    if (userCheckBoxes[i].checked) {
      var user = userCheckBoxes[i].nextSibling.nextSibling;
      ids.push(user.getAttribute("data-id"));
    }
  }

  if (ids.length == 0) {
    alert("Nobody doing the chore?  What?");
    return;
  }

  var frequency = $('input[name=frequency]:checked').val();
  var name = document.getElementById('name').value;

  $.post('/addChore', {'name': name, 'frequency': frequency, 'users': JSON.stringify(ids)}, function() {
    alert('success!');
  });
}

</script>

{% endblock %}

{% block content %}

<h2>New Chore</h2>
<br />
<form class=".form-horizontal">
<div class="control-group">
		<label class="control-label" for="name">Name</label>
<div class="controls">
		<input id="name" type="text"></div></div>
		<div id="users" class="controls">
				{% for user in users %}
				<div class="checkbox">
						<label>
				<input type="checkbox">
				<div class='user' data-phone="{{ user.phone }}" data-email="{{ user.email }}" data-id="{{ user.id }}">
						{{ user.name }}
</div></label></div>
				{% endfor %}
				<br />
		<div class="control-group">
				<div class="controls">
        Frequency:<br>
		   <input checked type="radio" value="daily" name="frequency"> Daily<br>
                   <input type="radio" value="weekly" name="frequency"> Weekly<br>
                   <input type="radio" value="monthly" name="frequency"> Monthly<br>
                   <input type="radio" value="once" name="frequency"> Once<br>
				   <br>
        Day of the Week:<br>
			<label class="checkbox-inline">
			 <input checked type="checkbox" value="Sunday" name="day"> S</label>
                         <label class="checkbox-inline"><input type="checkbox" value="Monday" name="day"> M</label>
                         <label class="checkbox-inline"><input type="checkbox" value="Tuesday" name="day"> T</label>
                         <label class="checkbox-inline"><input type="checkbox" value="Wednesday" name="day"> W</label>
                         <label class="checkbox-inline"><input type="checkbox" value="Thursday" name="day"> R</label>
                         <label class="checkbox-inline"><input type="checkbox" value="Friday" name="day"> F</label>
                         <label class="checkbox-inline"><input type="checkbox" value="Saturday" name="day"> S</label>
						 <br /><br />
		   </div>
   </div>
						<button class="btn btn-lg" style="background-color: rgb(114, 218, 114);" onclick="javascript:addChore();" id="chore_submit">
						ADD CHORE</button>
				</div>
	
	{% endblock %}

