{% extends "base.html" %}

{% block title %}Roomy: Notes{% endblock %}

{% block content %}


<div class='wrapper' style'float:left; width:100%;'>
Title<input id='title' value="" class='basic' type='text'><br>
<button id='write'><b>Make New Note</b></button><br>
<div class='notewrapper'id='notes' style="margin-right:200px;">
<textarea id="area2" style="width: 300px; height: 300px;">
</textarea>
</div>
<button id='save'><b>Save Note</b></button><br>
</div>

<div style="float:left; float:top; width:300px; margin-left:400px;">
    {%if notes %}
    {% for note in notes %}

    <div class='savednote' id="{{note.id}}">
    {{note.title}}
    </div>
    {% endfor %}
    {% else %}
    <h1>You don't have any notes yet!</h1>
    {% endif%}
</div>



{% endblock %}

{% block scripts %}

<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/nicEdit.js"></script>
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<script>
var java_notes = [];
window.addEventListener("load", ready);

function ready()
{
    {% for note in notes %}
        var jnote = {};
        jnote['id'] = {{note.id}}; 
        jnote['title'] = "{{note.title}}";      
        jnote['content'] = "{{note.content}}";
        jnote['db'] = 1;
        java_notes[{{note.id}}] = jnote;
    {% endfor %}
    if (java_notes.length > 0){
        for(var i = 0; i < java_notes.length; i++){
            if(java_notes[i]){
                console.log(java_notes[i]);
                var content = java_notes[i].content;
                var decoded = $("<div/>").html(content).text();
                nicEditors.findEditor('area2').setContent(decoded);
                var title = java_notes[i].title;
                var $x = $("input");
                $x.prop("value", title);
                break;
            }
        }
        
        
    }
    else{
        nicEditors.findEditor('area2').setContent("");
        var $x = $("input");
        $x.prop("value", "");
    }
}

$(document).on('click', '#write', function() {
    var $x = $("input");
    $x.prop("value", "New Title");
    nicEditors.findEditor('area2').setContent("");
});
$(document).on('click', '#save', function() {
    var noteData = {},
        title = document.getElementById("title").value,
        content = nicEditors.findEditor('area2').getContent();
    noteData['title']=title,
    noteData['content']=content,
    noteData['house']=1;
    var title = "";
    var id = -1;
    $.post('/savedNotes', noteData, function(response) {
        title = response['title'];
        id = response['id'];
        content = response['content'];
       
        $('#nonestatement').hide();
        var jnote = {};
        console.log(java_notes[id]);
        if(java_notes[id]){
            alert("fuck with me");
            java_notes[id].content = content;
            java_notes[id].db = 0;
            console.log(java_notes[id]);
        }
        else{
            jnote['id'] = id;
            jnote['title'] = title;
            jnote['content'] = content;
            jnote['db'] = 0;
            java_notes[id] = jnote;
            var newNote = "<div class='savednote' id="+id+">"+title+"</div>";
            $('#notelist').append(newNote);
        }   
        console.log(java_notes);
        alert('success!' + id + title);        
    });

});

$(document).on('click', '.savednote', function(){
    
    var id = $(this).attr('id');
    var note = java_notes[id];
    console.log(note);
    if (note['db'] == 1){
        var content = (note['content']);
        var decoded = $("<div/>").html(content).text();
    }
    else{
        var decoded = note['content'];
    }
    var title = note['title'];
    var $x = $("input");
    $x.prop("value", title);
    
    // console.log(title);
    // $('#title').attr('value', title);
    
    nicEditors.findEditor('area2').setContent(decoded);
    
    $('#notes').show();
    $('#save').show();
 
})

</script>

{% endblock %}
