body {
		padding-left: 125px;
		padding-top: 50px;
		font-family: "Merriweather Sans", sans-serif;
		font-weight: 300;
		padding-right: 100px;
}

h2 {
		border-bottom: 1px solid gray;
}

.starter-template {
		padding: 40px 15px;
		text-align: center;
}

.navbar-custom {
		font-family: "Lato";
		background-color: #404040;
		border: none;
}

.navbar-nav a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.navbar-inverse .navbar-nav > .active > a {
	background-color: #a29f9f;
}

.navbar-inverse .navbar-nav > .active > a:hover{
	background-color: #858585;	
}

.navbar-nav a::before:not(#welcome),
.navbar-nav a::after:not(#welcome) {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.navbar-nav a::before:not(#welcome) {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.navbar-nav a::after:not(#welcome) {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.navbar-nav a:hover:not(#welcome),
.navbar-nav a:focus:not(#welcome) {
	color: #fff;
}

.navbar-nav a:hover::before,
.navbar-nav a:focus::before,
.navbar-nav a:hover::after,
.navbar-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.feed {
		padding-top: 15px;
		padding-left: 15px;
		padding-right: 0px;
		border-left: 1px solid gray;
		height: 400px;
		word-wrap: break-word;
}

.feed-header{
		left: -15px;
		right: 0;
		position: relative;
		font-family: 'Lato';
		font-weight: bold;
		text-transform: uppercase;
}

#welcome {
		font-size: 12px;
}

.navbar-collapse{
		position: relative;
		left: 50px;
}

.feed ul{
		width: 275px;
		list-style-type: none;
		padding: 0;
		margin: 0;
}

.feed ul li{
		border-bottom: 1px solid gray;
		padding-bottom: 10px;
		padding-top: 10px;
}

ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		line-height: 2.1;
}

.content {
		padding-top: 30px;
}

h2 {
		font-family: 'Lato';
}

#charge-btn{
		text-transform: uppercase;
		font-family: 'Lato';
		font-weight: bold;
		font-size: 14px;
}

#chore_submit{
		text-transform: uppercase;
		font-family: 'Lato';
		font-weight: bold;
		font-size: 14px;
}
